/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */ 

/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }

body {
  background: #CCC url(bg.gif) repeat-x;
  font: 12px/170% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #6B6B6B; 
  text-align: center;	
}

/* links */
a, a:visited {	
  color: #79A325;
  background: inherit;
  text-decoration: none;
}
a:hover {
  color: #73471B;
  background: inherit;
  text-decoration: underline;
}

/* headers */
h1, h3 {
  font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
  font-weight: Bold; 	
  padding: 10px;		
  color: #444;
}
h1 {
  font-size: 2.9em;
}
h3 {
  font-size: 1.6em;
  font-weight: normal;
  padding: 16px 10px 4px 10px;
}

/* Paragraph */
p { padding: 12px 10px;	}

/* Lists */
ul {
  margin: 10px 20px;
  padding: 0 20px;
  list-style: none;	
}

/* images */
img {
	background: #FAFAFA;
   border: 1px solid #E4E4E4;
	padding: 8px;
}
img.float-right {
  	margin: 5px 0px 10px 10px;  
}
img.float-left {
  	margin: 5px 10px 10px 0px;
}

/*-------------------------------------------
   LAYOUT
--------------------------------------------*/ 
#wrap {
	position: relative;
	width: 952px;
	background: #FFF url(wrap.gif) repeat-y center top;
	margin: 40px auto 30px auto;
	text-align: left;	
}
#header {
	position: relative;
	width: 952px;
	height: 245px;
	background: #8AB84B url(header.jpg) no-repeat;	
	color: #fff;	
	padding: 0;	
	margin: 0;	
}
#header h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 66px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	letter-spacing: -5px;
	text-decoration: none;
	color: #332616;
	
	/* change the values of top and left to adjust the position of the logo*/
	top: 75px; left: 55px;	
}
#header p#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 15px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	color: #322815;
	letter-spacing: -0.5px;
	
	/* change the values of top and left to adjust the position of the slogan*/
	top: 148px; left: 150px;		
}

/* Navigation */
#nav {
  clear: both;	
  padding: 0;	
  margin: 0;
  width: 952px;
  height: 50px;
  background: #988060 url(nav.gif) no-repeat;		
}
#nav ul {
	float: left;	
	list-style: none;	
	margin: 5px 0 0 0;
	height: 45px;
	padding: 0 0 0 40px;					
}
#nav ul li {
	float: left;
	margin: 0; padding: 0 0 0 10px;		
}
#nav ul li a {
	float: left;
	margin: 0;
	padding: 0 15px 0 5px;
	color: #FFF;
	font: bold 15px/45px 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
	text-decoration: none;		
}
#nav ul li a:hover, 
#nav ul li a:active {
	color: #E7FAA9;	
}
#nav ul li#current {
	background: transparent url(left-tab.gif) no-repeat;	
}
#nav ul li#current a {	
	color: #4B3D2C;
	background: transparent url(right-tab.gif) no-repeat right top;	
}

/*----------------------top search navigation-------------------------*/
#search_nav{
  width:263px;
  height: auto;
  padding:20px 0 0 50px; 
  float:left;
}
#search_nav ul{
  list-style:none;
  margin: auto;
  display:block; 
  padding:0px;
}
#search_nav ul li{
  list-style:none;
  display:block;
  width:auto;
  height:29px;
  padding:0px;
  line-height:29px;
}
#search_nav ul li a{
  height:29px;
  display:block; 
  width:263px;
  text-decoration:none;
  padding:0 0 0 35px; 
  margin:7px 0 7px 0;
  color:#d4f0ba;
  background:url(search_nav.gif) no-repeat center;
  background-position:0px 0px;
}
#search_nav ul li a:hover{
  height:29px;
  display:block;
  width:263px;
  text-decoration:none;
  color: #d4f0ba;padding:0 0 0 35px;
  margin:7px 0 7px 0; 
  background:url(search_nav_a.gif) no-repeat center;
  background-position:0px 0px;
}
#search_nav ul li a.current{
  height:29px;
  display:block;
  width:263px;
  text-decoration:none;
  padding:0px;
  color: #d4f0ba;
  padding:0 0 0 35px;
  margin:7px 0 7px 0; 
  background:url(search_nav_a.gif) no-repeat center;
  background-position:0px 0px;
}

/* listbar menu */
#listbar {
  padding: 0;
  margin-left: 5%;
}
#listbar h3 {
  color: #51432F;
  font: bold 1.9em 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
  text-transform: none;
  letter-spacing: -0.5px;
  padding: 5px 0 5px 7px;
  margin: 10px 0 5px 10px;
  border-bottom: 1px solid #E4F2C8;
}
#listbar .listmenu {
  text-decoration: none;
}
#listbar .listmenu li {
  list-style: none;
  margin: 0;
  padding: 8px 10px;
  border-bottom: 1px solid #E8E8E8;
}
*html body .listbar .listmenu li {
  height: 1%;
}
#listbar .listmenu li a {
  text-decoration: none;
  color: #739A23;
  font-size: 1.2em;
  background: none;
  font_weight: normal;
}
#listbar .listmenu li a:hover {
  color: #000;
  background:none;
}
#listbar .listmenu ul {
  margin: 0 0 0 5px;
  padding: 0;
}
#listbar .listmenu ul li {
  border: none;
}
#listbar #box1 {
  float:left;
}
#listbar #box2 {
  float:left;
  margin-left: 5%;
}
#listbar #box3 {
  float:left;
  margin-left: 5%;
}
#listbar #box4 {
  float:left;
  margin-left: 5%;
}

/* footer */
#footer {
	clear: both;
	width: 952px;
	margin: 0;
	padding: 30px 0 25px 0;
	background: #CCC url(footer-bottom.gif) no-repeat left top;			
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	font-size: 0.95em;
	color: #777;	
	text-align: center;	
	letter-spacing: .2px;
}
#footer p {
	padding:10px 0;
}
#footer a:hover { 
	color: #555; 
	border-bottom: 1px dotted #555;
	text-decoration: none;
}
	
/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.no-border { border: none; }
.clearer { clear: both; }
.clear {	display:inline-block; }
.clear:after {
	display:block; 
	visibility:hidden; 
	clear:both; 
	height:0; 
	content: "."; 
}


